﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    @Styles.Render("~/bootstrap/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
    html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/
    respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ParkingHouse", "Index", "Home", new { }, new { @class = "navbar-brand" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        @Html.ActionLink("Arved", "Index", "Home")
                    </li>
                    <li class="active">
                        @Html.ActionLink("Parkimise info", "ParkingInfo", "Home")
                    </li>
                    <li class="active">
                    <div style="margin-top:17px">
                        @Html.DropDownList("Sortby", new SelectListItem[] 
                           {new SelectListItem() { Text = "Vali kasutaja", Value = "0" }, 
                            new SelectListItem() { Text = "Malle Maasikas", Value = "1" }, 
                             new SelectListItem() { Text = "Kalle Kaalikas", Value = "2" },
                             new SelectListItem() { Text = "Rikas Robert", Value = "3" }},
                             new { @onchange="CallChangefunc(this.value)" })
                    </div>
                    </li>
                </ul>
            </div>
    </nav>



    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
    function CallChangefunc(val)
    {
      window.location.href="/Home/Index?personId="+val;
    }
    </script>
    @Scripts.Render("~/bootstrap/js")
</body>
</html>
