﻿@model List<ParkingHouse.DTO.InvoiceDTO>


<div class="panel-body">
    <div class="media">
        <div class="media-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Arve number</th>
                    <th>Kokku</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var invoice in Model)
            {
                <tr>
                    <td>@invoice.InvoiceNumber</td>
                    <td>@invoice.Total</td>
                     <td>@Html.ActionLink("ava arve", "InvoiceDetail", "Home", new {id= @invoice.Id},null)</td>
                </tr>
            }
            </tbody>
          </table>  
        </div>
    </div>
</div>
