﻿@model List<ParkingHouse.DTO.ParkingEntryDTO>

<div class="panel-body">
    <div class="media">
        <div class="media-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Parkimise algus</th>
                    <th>Parkimise lõpp</th>
                    <th>Hind</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var parkingEntry in Model)
            {
                <tr>
                    <td>@parkingEntry.ParkingStart.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@parkingEntry.ParkingEnd.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@parkingEntry.Total</td>
                </tr>
            }
            </tbody>
          </table>  
        </div>
    </div>
</div>