﻿@model ParkingHouse.DTO.PersonDTO

@{
    ViewBag.Title = "ParkingHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @using (Html.BeginForm("Import", "Home", FormMethod.Post))
                        {
                          <button type="submit" name="Import" class="btn btn-primary">Impordi arved</button>
                        } <div>* Imporditakse kõikide kasutajate parkimise infod ja arvutatakse nende baasilt arved <br />
                               * Hetkel on 3 kasutajat ja 1 parkimismaja, mis luuakse andmebaasi, rakenduse käivitamisel <br />
                               * Parkimisinfo on HardCode'tud HomeControllerisse <br />
                          </div>
                     <h3>@Model.FullName</h3>
                </div>
                @Html.Partial("Invoices", Model.Invoices)
            </div>
        
    </div>
</div>
