﻿@model List<ParkingHouse.DTO.ParkingEntryDTO>

@{
    ViewBag.Title = "ParkingHouse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>

</p>
<div class="container">
    <div class="jumbotron">
            <div class="panel panel-default">
                <div class="panel-heading">
                     <h3>Sinu parkimised</h3>
                </div>
                @Html.Partial("ParkingInfos", Model)

            </div>
        
    </div>

</div>
